*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
  }
  
  header{
    color: beige;
    background-color:#4bd6db;
    height: 60px;
    width: 100%;
    top: 0;
    position: fixed;
    font-size: 22px;
  
  }
  /*Aplicando estilos a los enlaces del encabezado*/
  header a{
    text-decoration: none;
    color: beige;
    margin-left: 18px;
  }
  /*título twitter*/
  header h1{
    width: 35%;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
  }
  /*El buscador*/
  header .search{
    display: inline-block;
    border: 1px solid white;
    background-color: rgb(209, 235, 240);
    border-radius: 8px;
    margin-left: 120px;
  }
  /*Estilos entrada del buscador */
  header .search input{
  border: none;
  background-color: transparent; 
  }

  /*estilos al usuario*/
  .user{
    margin-left: 70px;
    font-size: 20px;
  }
  /*cuerpo*/
  main{
    background-image: url(../assets/imgs/paisaje.jpg);
    background-size: cover;
    height: 1000px;
  }
  /*Aplicando estilo al cuadro del saludo*/
  main .saludo{
    border:5px ;
    background-color: beige;
    width: 25%;
    height: 300px;
    position: relative;
    top:120px;
    left: 20px;
    border-radius: 10px;
  }
  /*Primera sección*/
  main .saludo .box1{
    background-color: #4bd6db;
    height: 100px;
  }
  img{
    width: 100%;
      border-radius: 100px;
  }
  /*Para el circulo*/
  .saludo .photo{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: #4bd6db;
    position: relative;
    bottom: 380px;
  }
  
  /*Texto deL saludo*/
  .saludo .text{
    margin-left: 120px;
    margin-bottom: 300px;
    height: 50px;
    line-height: 2;
  }
  
  /*Contenedor*/
  .box{
    width: 50%;
    height: 300px;
    position: relative;
    left: 30%;
    bottom: 170px;
  }
  /*Formulario*/
  .formul{
    background-color: beige;
    border-radius: 20px;
  }
  /*Entrada del texto*/
  #input-text{
    width: 100%;
    border: 1px solid #b9e9e6;
    font-size: 20px;
    overflow: hidden;
  }
  
  #input{
    height: auto;
  }
  /*Botón enviar */
  #send{
    padding: 10px;
    border-radius: 10px;
    background-color: #4bd6db;
    color: beige;
  }
  #count{
  /*outline: 1px solid blue;*/
  height: 20px;
  display: inline-block;
  width: 30px;
  margin-left: 550px;
  font-size: 30px;
  color: #4bd6db;
  
  }
  /*contenedor de los nuevos mensajes*/
  #box-newtext{
    width: 70%;
  }
  /*nuevos textos*/
  #box-newtext div{
    background-color:#4bd6db;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px double beige;
    /*Genera saltos de linea*/
    word-break: break-all;
  }
  